@page "/Navigation"

@using WindyUI.Table;
@using WindyUI.Typography;
@using WindyUI.Documentation.Components;
@using WindyUI.Documentation.Components.Navigation;
@using System.Text;

<Header HeaderType="HeaderTypes.H2">Navigation</Header>

<Paragraph>
    This section is for navigation components such as Sidebars and Navbars and where in a Windy UI project you would place these components.
</Paragraph>

<Paragraph>
    Because of the way these components work, they are meant to be top level components, which means you'll likely add them to a specific Blazor Layout component.
</Paragraph>

<Paragraph>
    In the following code block you'll find how this documentation uses both the sidebar and navbar components:
</Paragraph>

<ExtendedCodeTabToggle CssClass="my-4 mx-auto">
    <DisplayContent>
        <LayoutSample />
    </DisplayContent>
    <CodeContent>
        <CodeHighlights Code="@_navigationCode" Language="@SupportedLanguages.Razor" />
    </CodeContent>
</ExtendedCodeTabToggle>

<Paragraph>
    That was a lot of code, let's explain a little bit what is going on. We'll start with the top level components:
</Paragraph>

<Header HeaderType="HeaderTypes.H3">Navbar</Header>

<Paragraph>
    The idea behind this component is for it to be flexible while also being opinionated for simple use cases.
    Any navbar to be used must be able to look properly when being used on mobile as well as on desktop.
</Paragraph>

<Header HeaderType="HeaderTypes.H4">Parameters</Header>

<Table CssClass="mb-10">
    <TableHead>
        <TableHeader>Parameter</TableHeader>
        <TableHeader>Optional?</TableHeader>
        <TableHeader>Type</TableHeader>
        <TableHeader>Description</TableHeader>
    </TableHead>
    <TableBody>
        <tr>
            <TableCell>Color</TableCell>
            <TableCell>No</TableCell>
            <TableCell>NavigationColors</TableCell>
            <TableCell>Allows you to decide a background color based on the config for the library.</TableCell>
        </tr>
        <tr>
            <TableCell>BrandingFragment</TableCell>
            <TableCell>No</TableCell>
            <TableCell>RenderFragment</TableCell>
            <TableCell>This is fragment is meant to contain any element that is left aligned where branding is in most navbars.</TableCell>
        </tr>
        <tr>
            <TableCell>MobileNavigationFragment</TableCell>
            <TableCell>No</TableCell>
            <TableCell>RenderFragment</TableCell>
            <TableCell>
                The mobile counterpart to NavigationFragment.
                By common convention, it displays only when the hamburger menu is open and it is displayed right below the navbar in mobile.
            </TableCell>
        </tr>
        <tr>
            <TableCell>NavigationFragment</TableCell>
            <TableCell>No</TableCell>
            <TableCell>RenderFragment</TableCell>
            <TableCell>
                The navigation fragment is meant for links and navigational elements for the application or website.
                As is common convention, it aligns all elements to the right of the sidebar.
            </TableCell>
        </tr>
        <tr>
            <TableCell>MobileNavigationFragment</TableCell>
            <TableCell>No</TableCell>
            <TableCell>RenderFragment</TableCell>
            <TableCell>
                The mobile counterpart to NavigationFragment.
                By common convention, it displays only when the hamburger menu is open and it is displayed right below the navbar in mobile.
            </TableCell>
        </tr>
        <tr>
            <TableCell>OnMobileMenuClick</TableCell>
            <TableCell>Yes</TableCell>
            <TableCell>EventCallback</TableCell>
            <TableCell>
                An optional event that can be added to the clicking of the hamburger menu.
                This does not override the common behaviour of opening the MobileNavigationFragment, instead it just allows you to add additional capacity to said action should it be needed.
            </TableCell>
        </tr>
        <tr>
            <TableCell>HasMobileMenu</TableCell>
            <TableCell>Yes</TableCell>
            <TableCell>boolean</TableCell>
            <TableCell>
                True by default. This parameter is meant to be used only when you want to disable the mobile menu if you have no need for it.
            </TableCell>
        </tr>
    </TableBody>
</Table>

<Header HeaderType="HeaderTypes.H4">Example</Header>

<CodeHighlights CssClass="mb-8" Code="@_navbarExample" Language="@SupportedLanguages.Razor" />

<Header HeaderType="HeaderTypes.H4">Navbar Link</Header>

<Paragraph>
    Navbar also uses the 'NavbarLink' subcomponent which can only be used inside it,
    this is meant for compatibility with the color configuration you do when you set up your project.
    NavbarLink knows which is the background color used by Navbar to be able to adjust automatically so that there are no color clashes.
    But if the default is not what is intended, it can be overriden so that it uses a different background color as base.
</Paragraph>

<CodeHighlights CssClass="mb-8" Code="@_navbarLinkExample" Language="@SupportedLanguages.Razor" />

<Header HeaderType="HeaderTypes.H3">Sidebar</Header>

<Paragraph>
    A simple sidebar navigation component. At the time of writing, this component is only optimized to work on desktop.
    It contains space for branding and navigation also a 'SidebarLink' component that adapts to the background color of the sidebar.
</Paragraph>

<Header HeaderType="HeaderTypes.H4">Parameters</Header>

<Table CssClass="mb-10">
    <TableHead>
        <TableHeader>Parameter</TableHeader>
        <TableHeader>Optional?</TableHeader>
        <TableHeader>Type</TableHeader>
        <TableHeader>Description</TableHeader>
    </TableHead>
    <TableBody>
        <tr>
            <TableCell>Color</TableCell>
            <TableCell>No</TableCell>
            <TableCell>NavigationColors</TableCell>
            <TableCell>Allows you to decide a background color based on the config for the library.</TableCell>
        </tr>
        <tr>
            <TableCell>BrandingFragment</TableCell>
            <TableCell>No</TableCell>
            <TableCell>RenderFragment</TableCell>
            <TableCell>This is fragment is meant to contain any element that is left aligned where branding is in most navbars.</TableCell>
        </tr>
        <tr>
            <TableCell>NavigationFragment</TableCell>
            <TableCell>No</TableCell>
            <TableCell>RenderFragment</TableCell>
            <TableCell>
                The navigation fragment is meant for links and navigational elements for the application or website.
                As is common convention, it aligns all elements to the right of the sidebar.
            </TableCell>
        </tr>
    </TableBody>
</Table>

<Header HeaderType="HeaderTypes.H4">Example</Header>

<CodeHighlights CssClass="mb-8" Code="@_sidebarExample" Language="@SupportedLanguages.Razor" />

<Header HeaderType="HeaderTypes.H4">Sidebar Link</Header>

<Paragraph>
    Sidebar also uses the 'SidebarLink' subcomponent which can only be used inside it.
    This is meant for compatibility with the color configuration you do when you set up your project.
    SidebarLink knows which is the background color used by Navbar to be able to adjust automatically so that there are no color clashes.
    Base background color can be overriden so that it uses a different background color as base if you'd like it to do that.
</Paragraph>

<CodeHighlights CssClass="mb-8 mt-4" Code="@_sidebarLinkExample" Language="@SupportedLanguages.Razor" />

@code {
    private string _navigationCode;
    private string _navbarLinkExample;
    private string _sidebarLinkExample;
    private string _sidebarExample;
    private string _navbarExample;

    protected override void OnInitialized()
    {
        StringBuilder codeCreator = new StringBuilder();
        codeCreator.AppendLine("@inherits LayoutComponentBase");
        codeCreator.AppendLine("@using WindyUI.Navigation;");
        codeCreator.AppendLine();
        codeCreator.AppendLine(@"<main class=""grid md:grid-cols-5 h-full"">");
        codeCreator.AppendLine(@"   <Sidebar Color=""Navigation.NavigationColors.Primary"" CssClass=""md:col-span-1"">");
        codeCreator.AppendLine(@"        <BrandingFragment>");
        codeCreator.AppendLine(@"            <div class=""p-4 mr-1"">");
        codeCreator.AppendLine(@"                <img class=""hidden md:block h-16 w-auto ml-4"" src=""/img/logos/Isologotipo-Invertido.svg"" alt=""Logo"">");
        codeCreator.AppendLine(@"            </div>");
        codeCreator.AppendLine(@"        </BrandingFragment>");
        codeCreator.AppendLine(@"        <NavigationFragment>");
        codeCreator.AppendLine(@"            <SidebarLink Route=""GetStarted"">Get Started</SidebarLink>");
        codeCreator.AppendLine(@"            <SidebarLink Route=""Navigation"">Navigation</SidebarLink>");
        codeCreator.AppendLine(@"            <SidebarLink Route=""Typography"">Typography</SidebarLink>");
        codeCreator.AppendLine(@"            <SidebarLink Route=""Buttons"">Buttons</SidebarLink>");
        codeCreator.AppendLine(@"            <SidebarLink Route=""Table"">Table</SidebarLink>");
        codeCreator.AppendLine(@"            <SidebarLink Route=""Icons"">Icons</SidebarLink>");
        codeCreator.AppendLine(@"            <SidebarLink Route=""Forms"">Forms</SidebarLink>");
        codeCreator.AppendLine(@"            <SidebarLink Route=""Modals"">Modals</SidebarLink>");
        codeCreator.AppendLine(@"            <SidebarLink Route=""Notifications"">Notifications</SidebarLink>");
        codeCreator.AppendLine(@"        </NavigationFragment>");
        codeCreator.AppendLine(@"   </Sidebar>");
        codeCreator.AppendLine(@"    <div class=""md:col-start-2 md:col-span-4"">");
        codeCreator.AppendLine(@"        <Navbar Color=""Navigation.NavigationColors.PrimaryDark"">");
        codeCreator.AppendLine(@"            <MobileBrandingFragment>");
        codeCreator.AppendLine(@"                <img class=""flex md:hidden h-10 w-auto"" src=""/img/logos/Isotipo-Invertido.svg"" alt=""Logo"">");
        codeCreator.AppendLine(@"            </MobileBrandingFragment>");
        codeCreator.AppendLine(@"            <BrandingFragment>");
        codeCreator.AppendLine(@"                <div class=""hidden lg:block md:ml-6"">");
        codeCreator.AppendLine(@"                    <div class=""flex lg:space-x-1 xl:space-x-4"">");
        codeCreator.AppendLine(@"                        <NavbarLink Route=""GetStarted"">");
        codeCreator.AppendLine(@"                            Get Started");
        codeCreator.AppendLine(@"                        </NavbarLink>");
        codeCreator.AppendLine(@"                        <NavbarLink Route=""Navigation"">");
        codeCreator.AppendLine(@"                            Navigation");
        codeCreator.AppendLine(@"                        </NavbarLink>");
        codeCreator.AppendLine(@"                        <NavbarLink Route=""Typography"">");
        codeCreator.AppendLine(@"                            Typography");
        codeCreator.AppendLine(@"                        </NavbarLink>");
        codeCreator.AppendLine(@"                        <NavbarLink Route=""Buttons"">");
        codeCreator.AppendLine(@"                            Buttons");
        codeCreator.AppendLine(@"                        </NavbarLink>");
        codeCreator.AppendLine(@"                        <NavbarLink Route=""Table"">");
        codeCreator.AppendLine(@"                            Table");
        codeCreator.AppendLine(@"                        </NavbarLink>");
        codeCreator.AppendLine(@"                        <NavbarLink Route=""Icons"">");
        codeCreator.AppendLine(@"                            Icons");
        codeCreator.AppendLine(@"                        </NavbarLink>");
        codeCreator.AppendLine(@"                        <NavbarLink Route=""Forms"">");
        codeCreator.AppendLine(@"                            Forms");
        codeCreator.AppendLine(@"                        </NavbarLink>");
        codeCreator.AppendLine(@"                        <NavbarLink Route=""Modals"">");
        codeCreator.AppendLine(@"                            Modals");
        codeCreator.AppendLine(@"                        </NavbarLink>");
        codeCreator.AppendLine(@"                        <NavbarLink Route=""Notifications"">");
        codeCreator.AppendLine(@"                            Notifications");
        codeCreator.AppendLine(@"                        </NavbarLink>");
        codeCreator.AppendLine(@"                    </div>");
        codeCreator.AppendLine(@"                </div>");
        codeCreator.AppendLine(@"            </BrandingFragment>");
        codeCreator.AppendLine(@"            <MobileNavigationFragment>");
        codeCreator.AppendLine(@"                <div class=""px-2 pt-2 pb-3 md:space-y-1"">");
        codeCreator.AppendLine(@"                    <NavbarMobileLink Route=""Welcome"">");
        codeCreator.AppendLine(@"                        Welcome");
        codeCreator.AppendLine(@"                    </NavbarMobileLink>");
        codeCreator.AppendLine(@"                    <NavbarMobileLink Route=""Typography"">");
        codeCreator.AppendLine(@"                        Typography");
        codeCreator.AppendLine(@"                    </NavbarMobileLink>");
        codeCreator.AppendLine(@"                    <NavbarMobileLink Route=""Buttons"">");
        codeCreator.AppendLine(@"                        Buttons");
        codeCreator.AppendLine(@"                    </NavbarMobileLink>");
        codeCreator.AppendLine(@"                    <NavbarMobileLink Route=""Table"">");
        codeCreator.AppendLine(@"                        Table");
        codeCreator.AppendLine(@"                    </NavbarMobileLink>");
        codeCreator.AppendLine(@"                    <NavbarMobileLink Route=""Icons"">");
        codeCreator.AppendLine(@"                        Icons");
        codeCreator.AppendLine(@"                    </NavbarMobileLink>");
        codeCreator.AppendLine(@"                    <NavbarMobileLink Route=""Forms"">");
        codeCreator.AppendLine(@"                        Forms");
        codeCreator.AppendLine(@"                    </NavbarMobileLink>");
        codeCreator.AppendLine(@"                    <NavbarMobileLink Route=""Modals"">");
        codeCreator.AppendLine(@"                        Modals");
        codeCreator.AppendLine(@"                    </NavbarMobileLink>");
        codeCreator.AppendLine(@"                    <NavbarMobileLink Route=""Notifications"">");
        codeCreator.AppendLine(@"                        Notifications");
        codeCreator.AppendLine(@"                    </NavbarMobileLink>");
        codeCreator.AppendLine(@"                </div>");
        codeCreator.AppendLine(@"            </MobileNavigationFragment>");
        codeCreator.AppendLine(@"        </Navbar>");
        codeCreator.AppendLine(@"        <div class=""py-6 px-6"">");
        codeCreator.AppendLine(@"            @Body");
        codeCreator.AppendLine(@"        </div>");
        codeCreator.AppendLine(@"    </div>");
        codeCreator.AppendLine(@"</main>");

        _navigationCode = codeCreator.ToString();
        codeCreator.Clear();

        codeCreator.AppendLine(@"<Navbar Color=""Navigation.NavigationColors.PrimaryDark"">");
        codeCreator.AppendLine(@"   <MobileBrandingFragment>");
        codeCreator.AppendLine(@"       <img class=""flex md:hidden h-10 w-auto"" src=""/img/logos/Isotipo-Invertido.svg"" alt=""Logo"">");
        codeCreator.AppendLine(@"   </MobileBrandingFragment>");
        codeCreator.AppendLine(@"   <BrandingFragment>");
        codeCreator.AppendLine(@"       <div class=""hidden lg:block md:ml-6"">");
        codeCreator.AppendLine(@"           <div class=""flex lg:space-x-1 xl:space-x-4"">");
        codeCreator.AppendLine(@"               <NavbarLink Route=""RouteOne"">");
        codeCreator.AppendLine(@"                   Route One");
        codeCreator.AppendLine(@"               </NavbarLink>");
        codeCreator.AppendLine(@"               <NavbarLink Route=""RouteTwo"">");
        codeCreator.AppendLine(@"                   Route Two");
        codeCreator.AppendLine(@"               </NavbarLink>");
        codeCreator.AppendLine(@"               <NavbarLink Route=""RouteThree"">");
        codeCreator.AppendLine(@"                   Route Three");
        codeCreator.AppendLine(@"               </NavbarLink>");
        codeCreator.AppendLine(@"           </div>");
        codeCreator.AppendLine(@"       </div>");
        codeCreator.AppendLine(@"   </BrandingFragment>");
        codeCreator.AppendLine(@"   <MobileNavigationFragment>");
        codeCreator.AppendLine(@"       <div class=""px-2 pt-2 pb-3 md:space-y-1"">");
        codeCreator.AppendLine(@"           <NavbarMobileLink Route=""RouteOne"">");
        codeCreator.AppendLine(@"               Route One");
        codeCreator.AppendLine(@"           </NavbarMobileLink>");
        codeCreator.AppendLine(@"           <NavbarMobileLink Route=""RouteTwo"">");
        codeCreator.AppendLine(@"               Route Two");
        codeCreator.AppendLine(@"           </NavbarMobileLink>");
        codeCreator.AppendLine(@"           <NavbarMobileLink Route=""RouteThree"">");
        codeCreator.AppendLine(@"               Route Three");
        codeCreator.AppendLine(@"           </NavbarMobileLink>");
        codeCreator.AppendLine(@"       </div>");
        codeCreator.AppendLine(@"   </MobileNavigationFragment>");
        codeCreator.AppendLine(@"</Navbar>");
        _navbarExample = codeCreator.ToString();
        codeCreator.Clear();

        codeCreator.AppendLine(@"<Sidebar Color=""Navigation.NavigationColors.Primary"" CssClass=""md:col-span-1"">");
        codeCreator.AppendLine(@"   <BrandingFragment>");
        codeCreator.AppendLine(@"       <div class=""p-4 mr-1"">");
        codeCreator.AppendLine(@"           <img class=""hidden md:block h-16 w-auto ml-4"" src=""/img/logos/Isologotipo-Invertido.svg"" alt=""Logo"">");
        codeCreator.AppendLine(@"       </div>");
        codeCreator.AppendLine(@"   </BrandingFragment>");
        codeCreator.AppendLine(@"   <NavigationFragment>");
        codeCreator.AppendLine(@"       <SidebarLink Route=""RouteOne"">Route One</SidebarLink>");
        codeCreator.AppendLine(@"       <SidebarLink Route=""RouteTwo"">Route Two</SidebarLink>");
        codeCreator.AppendLine(@"       <SidebarLink Route=""RouteThree"">Route Three</SidebarLink>");
        codeCreator.AppendLine(@"   </NavigationFragment>");
        codeCreator.AppendLine(@"</Sidebar>");
        _sidebarExample = codeCreator.ToString();
        codeCreator.Clear();

        codeCreator.AppendLine(@"//To be used only inside the NavigationFragment.");
        codeCreator.AppendLine(@"<NavbarLink Route=""RouteOne"">");
        codeCreator.AppendLine(@"   Route One");
        codeCreator.AppendLine(@"</NavbarLink>");
        codeCreator.AppendLine();
        codeCreator.AppendLine(@"//To be used only inside the MobileNavigationFragment.");
        codeCreator.AppendLine(@"<NavbarMobileLink Route=""RouteOne"">");
        codeCreator.AppendLine(@"   Route One");
        codeCreator.AppendLine(@"</NavbarMobileLink>");
        _navbarLinkExample = codeCreator.ToString();
        codeCreator.Clear();

        codeCreator.AppendLine(@"<SidebarLink Route=""RouteThree"">Route Three</SidebarLink>");
        _sidebarLinkExample = codeCreator.ToString();
        codeCreator.Clear();
    }
}
