<!--TODO: Refactor this to use ChildContent.-->
<div class="hidden md:block md:col-span-1 bg-primary">
    <nav>
        <div class="p-4 @LogoContainerClass">
            <img class="hidden lg:block h-16 w-auto @LogoClass" src="@LogoUrl" alt="Logo">
        </div>

        @foreach (var option in Options)
        {
            <SidebarLink Text="@option.Text" Route="@option.Link" />
        }
    </nav>
</div>

@code {
    [Parameter]
    public List<NavigationOption> Options { get; set; } = new List<NavigationOption>();

    [Parameter]
    public string LogoUrl { get; set; } = "";

    [Parameter]
    public string LogoContainerClass { get; set; } = "";

    [Parameter]
    public string LogoClass { get; set; } = "";
}